.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.email,.password, .name{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}
.log,.sign{
    margin-top: 20px;
    padding: 10px;
    background-color: #4c8baf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}
.acc{
    margin-top: 20px;
    font-size: 14px;
    color: #4c8baf;
    text-decoration: underline;
    cursor: pointer;
}
